{% extends 'currencyexchange/base.html' %}

{% block title %}
{{ title}}
{% endblock %}

{% block content %}
    {% block error %}
        {% if errors %}
        <h1>Error: {{ errors }} </h1>
        {% endif %}
    {% endblock %}
    {% block response %}
        {% if response %}
            <p>{{ response }}</p>
        {% endif %}
    {% endblock %}
    <h1>'Add rates'</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.currency_code }}
        {{ form.time }}
        {{ form.rate }}
        <p><button type="submit", class="btn btn-success">Add</button> </p>
    </form>
{% endblock %}